# For iceWERX board

set_io --warn-no-port clk  	P7
set_io --warn-no-port bus0  E12
set_io --warn-no-port bus1  F12
set_io --warn-no-port bus2  G12
set_io --warn-no-port bus3  J12
set_io --warn-no-port bus4  H11
set_io --warn-no-port bus5  K12
set_io --warn-no-port bus6  N14
set_io --warn-no-port bus7  M12
set_io --warn-no-port bus8  P8
set_io --warn-no-port bus9  P14
set_io --warn-no-port bus10 L12
set_io --warn-no-port bus11 L14
set_io --warn-no-port bus12 K14
set_io --warn-no-port bus13 H12
set_io --warn-no-port bus14 G14
set_io --warn-no-port bus15 F14