# For iceWERX board

set_io --warn-no-port clk  	P7
set_io --warn-no-port bus0  A7
set_io --warn-no-port bus1  C3
set_io --warn-no-port bus2  A6
set_io --warn-no-port bus3  C1
set_io --warn-no-port bus4  C7
set_io --warn-no-port bus5  E1
set_io --warn-no-port bus6  C6
set_io --warn-no-port bus7  D1
set_io --warn-no-port bus8  D6
set_io --warn-no-port bus9  G1
set_io --warn-no-port bus10 D7
set_io --warn-no-port bus11 F3
set_io --warn-no-port bus12 A10
set_io --warn-no-port bus13 H1
set_io --warn-no-port bus14 D10
set_io --warn-no-port bus15 G3
set_io --warn-no-port bus16 C10
set_io --warn-no-port bus17 J1
set_io --warn-no-port bus18 C11
set_io --warn-no-port bus19 H3
set_io --warn-no-port bus20 A11
set_io --warn-no-port bus21 K3
set_io --warn-no-port bus22 A12
set_io --warn-no-port bus23 J3
set_io --warn-no-port bus24 B14
set_io --warn-no-port bus25 M1
set_io --warn-no-port bus26 C14
set_io --warn-no-port bus27 L1
set_io --warn-no-port bus28 C12
set_io --warn-no-port bus29 M3
set_io --warn-no-port bus30 D14
set_io --warn-no-port bus31 N1
set_io --warn-no-port bus32 D12
set_io --warn-no-port bus33 P2
set_io --warn-no-port bus34 E14
set_io --warn-no-port bus35 P1
set_io --warn-no-port bus36 P3