# For iceWERX board

set_io --warn-no-port clk  	   P7
set_io --warn-no-port motor_in N14
set_io --warn-no-port dens_in  E12
set_io --warn-no-port step_in  P8
set_io --warn-no-port dir_in   M12
set_io --warn-no-port tr0_sens D3
set_io --warn-no-port dsk_sens A3
set_io --warn-no-port wpr_sens A4
set_io --warn-no-port ind_sens A1
set_io --warn-no-port spin_en  M6
set_io --warn-no-port spin_ss  M7
set_io --warn-no-port step_0   C5
set_io --warn-no-port step_1   C4
set_io --warn-no-port step_2   A2
set_io --warn-no-port step_3   B1
set_io --warn-no-port tr0_out  L14
set_io --warn-no-port ind_out  G12
set_io --warn-no-port wpr_out  K14
set_io --warn-no-port dsk_LED  M4
set_io --warn-no-port clk_out  A5